.modal-titel {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;

  color: var(--modal-main-text);
}
// .discontinue-form {
//   display: flex;
// }
.issue {
  margin-bottom: 30px;
  padding: 16px 27px;
  background-color: #fff;
  border: 1px solid #d8e2ef;
}
.subject {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 16px;
}
.discontinue-form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & label {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: var(--modal-main-text);
  }
  & input {
    width: 502px;
    height: 34px;
    padding: 10px 9px;
    font-family: inherit;
    font-size: 14px;
    color: var(--modal-semi-color);
    border: 1px solid #d8e2ef;
    border-radius: 4px;

    & input::placeholder {
      font-family: inherit;
      font-size: 14px;
      color: var(--modal-semi-color);
    }
  }
  .input-date {
    width: 220px;
  }
  & select {
    width: 311px;
    height: 34px;
    padding: 1px 9px;

    border: 1px solid #d8e2ef;
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    color: var(--modal-semi-color);
  }
}
textarea {
  resize: none;
  min-width: 303px;
  padding: 10px 10px;

  border: 1px solid #d8e2ef;
  border-radius: 4px;
  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    line-height: 100%;
    color: #5e6e8240;
  }
}
table {
  width: 1136px;
  margin-bottom: 14px;
  border-collapse: collapse;
  border: none;
}
table thead {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--modal-main-text);
}
table tbody {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--modal-main-text);
  & span {
    font-size: 12px;
    color: #9aa6b5;
  }
}
table th,
table td {
  padding: 8px 8px;

  border-collapse: collapse;
  border: none;
}
.tadle-head-check {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.check-box {
  position: relative;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #d8e2ef;
  border-radius: 50%;
}
.check-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: transparent;

  border-radius: 50%;
  // opacity: 0;
  .check-input:checked + & {
    // opacity: 1;
    // display: block;
    background-color: #fd5000;
    z-index: 1;
  }
}

.tbody {
  background: #ffffff;
  // border-collapse: collapse;
}
.tr-item:nth-child(even) {
  background: rgba(216, 226, 239, 0.15);
}
.discontinue-btn {
  display: block;
  width: 181px;
  height: 34px;
  margin-left: auto;
  margin-right: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  color: #fff;
  background: #5e6e82;
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background: #7a8a9d;
  }
  &:active {
    background: #4e5c6f;
  }
}
