// .view {
//   height: 1260px;
// }
.view-head {
  text-align: left;
}
.view-body {
  background: #fd50000d;
  z-index: 50;
  font-weight: 400;
  .pen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
.assignet {
  display: flex;
  align-items: flex-end;
  gap: 19px;
  width: 1136px;
  margin-bottom: 14px;
  padding: 12px 27px;

  background-color: #fff;
  .assignet-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  & label {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: var(--modal-main-text);
  }
  & select {
    width: 284px;
    height: 34px;
    padding: 1px 9px;

    border: 1px solid #d8e2ef;
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    color: var(--modal-semi-color);
    background-color: #fff;
  }
  .assignet-textarea {
    height: 34px;
  }
  .assignet-btn {
    width: 139px;
  }
  .update {
    background-color: #fd5000;
    &:hover,
    &:focus {
      background-color: #fe6e2b;
    }
    &:active {
      background-color: #eb4a00;
    }
  }
  .cancel {
    background-color: #8996a6;
    &:hover,
    &:focus {
      background-color: #99a7b9;
    }
    &:active {
      background-color: #798696;
    }
  }
}

.view-text {
  width: 1136px;
  margin-bottom: 14px;
  padding: 22px 24px;
  font-size: 14px;
  line-height: 1.64;

  color: var(--modal-main-text);
  background-color: #fff;
}
.after-view {
  background-color: #fff;
  .after-view-tried {
    width: 760px;
  }
  .after-view-paing {
    width: 60px;
    // margin-left: 550px;
  }
  .after-view-date {
    width: 180px;
  }
}
.see-more {
  display: inline-block;
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-decoration-line: underline;

  color: #fd5000;
  &:hover,
  &:focus {
    color: #fe6e2b;
  }
}
.add-btn {
  width: 125px;

  margin-left: 0;
  margin-right: auto;
  margin-bottom: 31px;

  background: #fd5000;

  &:hover,
  &:focus {
    background: #fe6e2b;
  }
  &:active {
    background: #eb4a00;
  }
}
.new-step-title {
  width: 1136px;
  margin-bottom: 20px;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 1.5;

  color: #5e6e82b3;
  background-color: #fff;
  border: none;
  border-radius: 0;
}
.btn-group {
  display: flex;
  gap: 28px;
  margin-bottom: 30px;
  .save-btn,
  .cancel-btn {
    width: 125px;
  }
  .save-btn {
    background-color: #fd5000;
    &:hover,
    &:focus {
      background-color: #fe6e2b;
    }
    &:active {
      background-color: #eb4a00;
    }
  }
  .cancel-btn {
    background-color: #8996a6;
    &:hover,
    &:focus {
      background-color: #99a7b9;
    }
    &:active {
      background-color: #798696;
    }
  }
}
.box-comment {
  height: 34px;
}
.pending {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 31px;
  margin-bottom: 28px;
  .pending-titel {
    margin: 0;
  }
  .pending-icon {
    width: 28px;
    height: 28px;
    padding: 6px;
    background: #ffffff;
    border: 1px solid #d8e2ef;
    border-radius: 6px;
    color: #fd5000;
    &:hover,
    &:focus,
    &:active {
      background: #fd5000;
      color: #ffffff;
    }
  }
  .icon-pending {
    fill: currentColor;
  }
}
.pending-body {
  background-color: #fff;
}
.check-box {
  position: relative;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #d8e2ef;
  border-radius: 3px;
  .check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .check-input:checked + & .check-icon {
    opacity: 1;
  }
}
// .check-box::after {
//   content: '';
//   display: block;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 8px;
//   height: 8px;
//   background-color: transparent;

//   border-radius: 50%;
//   // opacity: 0;
//   .check-input:checked + & {
//     // opacity: 1;
//     // display: block;
//     background-color: #fd5000;
//     z-index: 1;
//   }
// }
// .box-comment {
//   width: 303px;
// }
.pending-list {
  display: flex;
  gap: 47px;
  margin-bottom: 20px;
  .pending-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    color: var(--modal-main-text);
    &:hover,
    &:focus {
      text-decoration: underline;
      color: #fe6e2b;
    }
  }
  .current-link {
    text-decoration: underline;
    color: #fd5000;
  }
}
.status {
  display: flex;
  align-items: center;
  gap: 3px;
  .overdue {
    color: #fd0000;
  }
  .expiring {
    color: #ff9900;
  }
  .future {
    color: #88d23b;
  }
  .status-icon {
    width: 18px;
    height: 18px;
  }
}
.pre-submit {
  width: 1136px;
  margin-bottom: 30px;
  border: 1px solid #d8e2ef;
}
.archiv-btn {
  display: block;
  width: 163px;
  height: 34px;
  margin-left: 0;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  color: #fff;
  background: #5e6e82;
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background: #7a8a9d;
  }
  &:active {
    background: #4e5c6f;
  }
}
