.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.btn {
  display: block;
  height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  color: #fff;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
input:focus {
  outline: 1px solid #d8e2ef;
}
textarea:focus {
  outline: 1px solid #d8e2ef;
}
select {
  // padding-right: 8px;
  vertical-align: middle;
  appearance: none;
  background: url(../images/modal/select.svg) no-repeat right;
  background-position-x: calc(100% - 14px);
  outline: 1px solid #d8e2ef;
}
option:active {
  padding-right: 8px;
  border: none;
  outline: none;
  outline: 1px solid #d8e2ef;
  border: 1px solid #d8e2ef;
}
// select:focus,
// select:hover,
// option:hover,
// option:focus {
//   border: none;
//   outline: none;
//   border: transparent;
// }
// select > option {
//   border: none;
//   outline: none;
//   border: 1px solid #d8e2ef;
// }
