<div class="calendar">
  <div class="month">
    <svg class="close-icon" width="16" height="16">
      <use href="./images/modal/icons.svg#icon-arrow-left"></use>
    </svg>
    <h3 class="month-title">January 2023</h3>
    <svg class="close-icon" width="16" height="16">
      <use href="./images/modal/icons.svg#icon-arrow-right"></use>
    </svg>
  </div>
  <div class="days">
    <ul class="days-list list">
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
      <li>Su</li>
    </ul>
    <ul class="dates-list list">
      <li class="pre">26</li>
      <li class="pre">27</li>
      <li class="pre">28</li>
      <li class="pre">29</li>
      <li class="pre">30</li>
      <li class="pre">31</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li class="active-date">6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li class="hover-date">15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
      <li>30</li>
      <li>31</li>
      <li class="next">1</li>
      <li class="next">2</li>
      <li class="next">3</li>
      <li class="next">4</li>
      <li class="next">5</li>
    </ul>
  </div>
</div>
