<div class="overlay js-overlay-modal" id="overlay-modal"></div>
<div class="modal discontinue" data-modal="1">
  <button type="button" class="modal-close btn js-modal-close">
    <svg class="close-icon" width="24" height="24">
      <use href="./images/modal/icons.svg#icon-modal-close"></use>
    </svg>
  </button>

  <form class="discontinue-form">
    <h2 class="modal-titel">Discontinue Issue</h2>
    <div class="issue">
      <div class="subject">
        <div class="discontinue-form-field">
          <label for="name">Subject</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Discontinued for Chi, Kai"
            required
          />
        </div>
        <div class="discontinue-form-field">
          <label for="assignet">Assignet to</label>
          <select name="assignet" id="assignet" disabled>
            <option value="user">Avonora User</option>
          </select>
        </div>
        <label>
          Date
          <input lang="en" type="date" min="1920-01-01" max="2220-01-01" />
        </label>
      </div>

      <div class="discontinue-form-field">
        <label for="comment">Description</label>
        <textarea
          name="comment"
          rows="4"
          placeholder=" "
          id="comment"
        ></textarea>
      </div>
    </div>
    <h2 class="modal-titel">Action Items</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Drug&Dose</th>
          <th>Refills left</th>
          <th>Q-ty</th>
          <th>Direction</th>
          <th>
            <div class="tadle-head-check">
              <label for="ds"
                >DC
                <div class="check-box">
                  <input
                    class="check-input visually-hidden"
                    type="checkbox"
                    name="ds"
                    value="ds"
                  />
                </div>
              </label>
            </div>
          </th>
          <th>
            <div class="tadle-head-check">
              <label for="refill"
                >Refill
                <div class="check-box">
                  <input
                    class="check-input visually-hidden"
                    type="checkbox"
                    name="refill"
                    value="refill"
                  /></div
              ></label>
            </div>
          </th>
          <th>Comment</th>
        </tr>
      </thead>

      <tbody class="tbody">
        <tr class="tr-item">
          <td>
            <img
              src="./images/modal/discontinue1.jpg"
              alt="pills"
              width="34"
              height="34"
            />
          </td>
          <td>
            Acetaminophen 500mg<br /><span
              >Dr. Abungu, Billy Scott RX#136284</span
            >
          </td>
          <td>1</td>
          <td>60</td>
          <td>Take One Tablet By Mouth Twice A Day</td>
          <td>
            <div class="check-box">
              <input
                class="check-input visually-hidden"
                type="checkbox"
                name="ds"
                value="ds"
              />
            </div>
          </td>
          <td>
            <div class="check-box">
              <input
                class="check-input visually-hidden"
                type="checkbox"
                name="refill"
                value="refill"
              />
            </div>
          </td>
          <th>
            <textarea
              name="action-comment"
              rows="1"
              placeholder="Add comment"
              id="action-comment"
            ></textarea>
          </th>
        </tr>
        <tr class="tr-item">
          <td>
            <img
              src="./images/modal/discontinue2.jpg"
              alt="pills"
              width="34"
              height="34"
            />
          </td>
          <td>
            Acetaminophen 500mg<br /><span
              >Dr. Abungu, Billy Scott RX#136284</span
            >
          </td>
          <td>1</td>
          <td>60</td>
          <td>Take One Tablet By Mouth Twice A Day</td>
          <td>
            <div class="check-box">
              <input
                class="check-input visually-hidden"
                type="checkbox"
                name="ds"
                value="ds"
              />
            </div>
          </td>
          <td>
            <div class="check-box">
              <input
                class="check-input visually-hidden"
                type="checkbox"
                name="refill"
                value="refill"
              />
            </div>
          </td>
          <th>
            <textarea
              name="action-comment"
              rows="1"
              placeholder="Add comment"
              id="action-comment"
            ></textarea>
          </th>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="discontinue-btn btn">Submit</button>
  </form>
</div>
