<div class="overlay js-overlay-modal" id="overlay-modal"></div>
<div class="modal discontinue" data-modal="1">
  <button type="button" class="modal-close btn js-modal-close">
    <svg class="close-icon" width="24" height="24">
      <use href="./images/modal/icons.svg#icon-modal-close"></use>
    </svg>
  </button>

  <form class="discontinue-form">
    <h2 class="modal-titel">Discontinue Issue</h2>
    <div class="issue">
      <div class="subject">
        <div class="discontinue-form-field">
          <label for="subject">Subject</label>
          <input
            type="text"
            name="subject"
            id="subject"
            placeholder="Discontinued for Chi, Kai"
            required
          />
        </div>
        <div class="discontinue-form-field">
          <label for="assignet">Assigned to</label>
          <select class="assignet" name="assignet" id="assignet" disabled>
            <option value="user">Avonora User</option>
          </select>
        </div>
        <div class="discontinue-form-field calendar-field">
          <label for="date">Due Date</label>
          <input
            class="input-date"
            type="text"
            name="date"
            id="date"
            placeholder="05/12/2022"
            required
          />
          <div class="icon-calendar">
            <svg class="calendar-icon" width="17" height="17">
              <use href="./images/modal/icons.svg#icon-calendar"></use>
            </svg>
          </div>

          <div class="calendar calendar-form-field is-hidden">
            <div class="month">
              <svg class="close-icon" width="16" height="16">
                <use href="./images/modal/icons.svg#icon-arrow-left"></use>
              </svg>
              <h3 class="month-title">January 2023</h3>
              <svg class="close-icon" width="16" height="16">
                <use href="./images/modal/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="days">
              <ul class="days-list list">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
              </ul>
              <ul class="dates-list list">
                <li class="pre">26</li>
                <li class="pre">27</li>
                <li class="pre">28</li>
                <li class="pre">29</li>
                <li class="pre">30</li>
                <li class="pre">31</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li class="active-date">6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li class="hover-date">15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
                <li class="next">1</li>
                <li class="next">2</li>
                <li class="next">3</li>
                <li class="next">4</li>
                <li class="next">5</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="discontinue-form-field">
        <label for="comment">Description</label>
        <textarea
          name="comment"
          rows="4"
          placeholder=" "
          id="comment"
        ></textarea>
      </div>
    </div>
    <h2 class="modal-titel">Action Items</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Drug&Dose</th>
          <th>
            Refills <br />
            left
          </th>
          <th>Q-ty</th>
          <th>Direction</th>
          <th>
            <div class="tadle-head-check">
              <label for="ds-refill-all"
                >DC
                <div class="radio-box">
                  <input
                    class="radio-box-input visually-hidden"
                    type="radio"
                    name="ds-refill-all"
                    value="ds-refill-all"
                    id="ds-refill-all"
                  />
                </div>
              </label>
            </div>
          </th>
          <th>
            <div class="tadle-head-check">
              <label for="ds-refill"
                >Refill
                <div class="radio-box">
                  <input
                    class="radio-box-input visually-hidden"
                    type="radio"
                    name="ds-refill-all"
                    value="ds-refill-all"
                  /></div
              ></label>
            </div>
          </th>
          <th>Comment</th>
        </tr>
      </thead>

      <tbody class="tbody">
        <tr class="tr-item">
          <td>
            <img
              src="./images/modal/discontinue1.jpg"
              alt="pills"
              width="34"
              height="34"
            />
          </td>
          <td>
            Acetaminophen 500mg<br /><span class="doctor"
              >Dr. Abungu, Billy Scott RX#136284</span
            >
          </td>
          <td>1</td>
          <td>60</td>
          <td>Take One Tablet By Mouth Twice A Day</td>
          <td>
            <div class="radio-box">
              <input
                class="radio-box-input visually-hidden"
                type="radio"
                name="ds-refill-one"
                value="ds-refill-one"
              />
            </div>
          </td>
          <td>
            <div class="radio-box">
              <input
                class="radio-box-input visually-hidden"
                type="radio"
                name="ds-refill-one"
                value="ds-refill-one"
              />
            </div>
          </td>
          <th>
            <textarea
              name="action-comment"
              rows="1"
              placeholder="Add comment"
              id="action-comment"
            ></textarea>
          </th>
        </tr>
        <tr class="tr-item">
          <td>
            <img
              src="./images/modal/discontinue2.jpg"
              alt="pills"
              width="34"
              height="34"
            />
          </td>
          <td>
            Acetaminophen 500mg<br /><span class="doctor"
              >Dr. Abungu, Billy Scott RX#136284</span
            >
          </td>
          <td>1</td>
          <td>60</td>
          <td>Take One Tablet By Mouth Twice A Day</td>
          <td>
            <div class="radio-box">
              <input
                class="radio-box-input visually-hidden"
                type="radio"
                name="ds-refill-two"
                value="ds-refill-two"
              />
            </div>
          </td>
          <td>
            <div class="radio-box">
              <input
                class="radio-box-input visually-hidden"
                type="radio"
                name="ds-refill-two"
                value="ds-refill-two"
              />
            </div>
          </td>
          <th>
            <textarea
              name="action-comment"
              rows="1"
              placeholder="Add comment"
              id="action-comment"
            ></textarea>
          </th>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="discontinue-btn btn">Submit</button>
  </form>
</div>
