<div class="modal buy" data-modal="1">
  <button type="button" class="modal-close btn js-modal-close">
    close
    <!-- <svg class="close-icon" width="32" height="32">
      <use href="./images/icons.svg#icon-modal-close"></use>
    </svg> -->
  </button>
  <h2 class="buy-now-titel">Discontinue Issue</h2>

  <form class="buy-now-form">
    <div>
      <div class="buy-now-form-field">
        <label for="name">Subject</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Discontinued for Chi, Kai"
          required
        />
      </div>
      <div class="buy-now-form-field">
        <label for="phone">Assignet to</label>
        <input
          type="text"
          name="phone"
          id="phone"
          placeholder="Avonora User"
          minlength="13"
          maxlength="13"
          required
        />
      </div>
      <label>
        Date
        <input lang="en" type="date" min="1920-01-01" max="2220-01-01" />
      </label>

      <div class="buy-now-form-field">
        <label for="comment">Description</label>
        <textarea
          name="comment"
          rows="4"
          placeholder=" "
          id="comment"
        ></textarea>
      </div>
    </div>
    <h2>Action Items</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Drug&Dose</th>
          <th>Refills left</th>
          <th>Q-ty</th>
          <th>Direction</th>
          <th>DC</th>
          <th>Refill</th>
          <th>Comment</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <img
              src="./images/modal/discontinue1.jpg"
              alt="pills"
              width="34"
              height="34"
            />
          </td>
          <td>
            Acetaminophen 500mg<span>Dr. Abungu, Billy Scott RX#136284</span>
          </td>
          <td>1</td>
          <td>60</td>
          <td>Take One Tablet By Mouth Twice A Day</td>
          <th>DC</th>
          <th>Refill</th>
          <th>Comment</th>
        </tr>
        <tr>
          <td>
            <img
              src="./images/modal/discontinue2.jpg"
              alt="pills"
              width="34"
              height="34"
            />
          </td>
          <td>
            Acetaminophen 500mg<span>Dr. Abungu, Billy Scott RX#136284</span>
          </td>
          <td>1</td>
          <td>60</td>
          <td>Take One Tablet By Mouth Twice A Day</td>
          <th>DC</th>
          <th>Refill</th>
          <th>Comment</th>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="buy-now-btn btn">Submit</button>
  </form>
</div>
