<section class="section-issue">
  <div>
    <div></div>
    <ul>
      <li><button type="button" class="btn">All Issues</button></li>
      <li><button type="button" class="btn">Issues Assigned to Me</button></li>
      <li><button type="button" class="btn">My Issues</button></li>
    </ul>
    <ul>
      <li><button type="button" class="btn">Unread <samp>4</samp></button></li>
      <li><button type="button" class="btn">Advanced Filter</button></li>
      <li>View:<ul>
        <li><button type="button" class="btn">All</button></li>
        <li><button type="button" class="btn">Group by Resident</button></li>
      </ul></li>
    </ul>
  </div>
  </div>
</section>
