<form action="" class="filter-form">
  <div class="filter-subject filter-form-field">
    <label for="subject">Subject</label>
    <select name="subject" id="subject" class="select">
      <option value="subject">Missing Item, Bug</option>
      <!-- <option value="subject">Missing Item</option>
      <option value="subject">Other</option>
      <option value="subject">Bug</option>
      <option value="subject">Discontinue</option>
      <option value="subject">Need updated insurance</option> -->
    </select>
    <ul class="select-list list">
      <li class="select-list-item current-item">
        Missing Item, Bug
        <svg class="current-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-select-up"></use>
        </svg>
      </li>
      <li class="select-list-item">Search</li>
      <li class="select-list-item check-item">
        Missing Item<svg class="check-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-check"></use>
        </svg>
      </li>
      <li class="select-list-item">Other</li>
      <li class="select-list-item">Bug</li>
      <li class="select-list-item">Discontinue</li>
      <li class="select-list-item">Need updated insurance</li>
    </ul>
  </div>
  <div class="filter-rx filter-form-field">
    <label for="rx">Rx</label>
    <select name="rx" id="rx">
      <option value="rx">Select</option>
      <!-- <option value="rx">Missing Item</option>
      <option value="rx">Other</option>
      <option value="rx">Bug</option>
      <option value="rx">Discontinue</option>
      <option value="rx">Need updated insurance</option> -->
    </select>
    <ul class="select-list list">
      <li class="select-list-item current-item">
        13574
        <svg class="current-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-select-up"></use>
        </svg>
      </li>
      <li class="select-list-item">15789</li>
      <li class="select-list-item check-item">
        16850<svg class="check-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-check"></use>
        </svg>
      </li>
      <li class="select-list-item">147820</li>
      <li class="select-list-item">297000</li>
      <li class="select-list-item">202321</li>
      <li class="select-list-item">745692</li>
    </ul>
  </div>
  <div class="filter-medication filter-form-field">
    <label for="medication">Medication</label>
    <select name="medication" id="medication">
      <option value="medication">Select</option>
      <!-- <option value="medication">Missing Item</option>
      <option value="medication">Other</option>
      <option value="medication">Bug</option>
      <option value="medication">Discontinue</option>
      <option value="medication">Need updated insurance</option> -->
    </select>
    <ul class="select-list list">
      <li class="select-list-item current-item">
        Missing Item, Bug
        <svg class="current-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-select-up"></use>
        </svg>
      </li>
      <li class="select-list-item">Search</li>
      <li class="select-list-item check-item">
        Missing Item<svg class="check-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-check"></use>
        </svg>
      </li>
      <li class="select-list-item">Other</li>
      <li class="select-list-item">Bug</li>
      <li class="select-list-item">Discontinue</li>
      <li class="select-list-item">Need updated insurance</li>
    </ul>
  </div>
  <div class="filter-resident filter-form-field">
    <label for="resident">Resident Name</label>
    <select name="resident" id="resident">
      <option value="resident">Select</option>
      <!-- <option value="resident">Missing Item</option>
      <option value="resident">Other</option>
      <option value="resident">Bug</option>
      <option value="resident">Discontinue</option>
      <option value="resident">Need updated insurance</option> -->
    </select>
    <ul class="select-list list">
      <li class="select-list-item current-item">
        Villanueva, Steven
        <svg class="current-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-select-up"></use>
        </svg>
      </li>
      <li class="select-list-item">Osbourne, Ozzy</li>
      <li class="select-list-item check-item">
        Hetfield, James Alan<svg class="check-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-check"></use>
        </svg>
      </li>
      <li class="select-list-item">Love, Courtney</li>
      <li class="select-list-item">Richards, Keith</li>
    </ul>
  </div>
  <div class="filter-assigned filter-form-field">
    <label for="assigned">Assigned to</label>
    <select name="assigned" id="assigned">
      <option value="assigned">Select</option>
      <!-- <option value="assigned">Missing Item</option>
      <option value="assigned">Other</option>
      <option value="assigned">Bug</option>
      <option value="assigned">Discontinue</option>
      <option value="assigned">Need updated insurance</option> -->
    </select>
    <ul class="select-list list">
      <li class="select-list-item current-item">
        EZPill
        <svg class="current-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-select-up"></use>
        </svg>
      </li>
      <li class="select-list-item">EZPill</li>
      <li class="select-list-item check-item">
        GOE<svg class="check-item-icon" width="8" height="8">
          <use href="./images/modal/icons.svg#icon-check"></use>
        </svg>
      </li>
      <li class="select-list-item">GOE</li>
    </ul>
  </div>
  <button class="form-reset-btn btn">Reset</button>
  <button type="button" class="filter-form-btn btn">
    <svg class="close-icon" width="10" height="10">
      <use href="./images/modal/icons.svg#icon-modal-close"></use>
    </svg>
  </button>
</form>
