.section-issue-btn {
  width: 1710px;
  padding-top: 12px;
  padding-right: 31px;
  padding-bottom: 13px;
  background: #e4ebf5;
  .issue-btn-list {
    display: flex;
    justify-content: end;
    gap: 12px;
  }
  .issue-btn {
    width: 164px;
    height: 34px;
  }
  .issue-btn-create {
    background: #fd5000;
    &:hover,
    &:focus {
      background: #fe6e2b;
    }
    &:active {
      background: #eb4a00;
    }
  }
  .issue-btn-fax {
    background: #8996a6;
    &:hover,
    &:focus {
      background: #99a7b9;
    }
    &:active {
      background: #798696;
    }
  }
  .issue-btn-arch {
    background: #5e6e82;
    &:hover,
    &:focus {
      background: #7a8a9d;
    }
    &:active {
      background: #4e5c6f;
    }
  }
}
.section-issue {
  width: 1710px;
  padding-top: 33px;
  padding-right: 31px;
  padding-left: 27px;
  padding-bottom: 33px;
  background: #edf2f9;
}
.issue-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  .my-issues-list {
    display: flex;
    gap: 22px;
  }
  .all-issues-btn {
    font-size: 15px;
    line-height: 1;
    color: #5e6e82;
    background: #edf2f9;
    border-radius: 0;
    opacity: 0.7;
    // border-bottom: 1px solid #fd5000;
    &:hover,
    &:focus {
      color: #5e6e82;

      opacity: 1;
    }
    &:active {
      color: #eb4a00;
      border-bottom: 1px solid #eb4a00;
      opacity: 1;
    }
  }
  .assigned-me-btn {
    font-size: 15px;
    line-height: 1;
    color: #5e6e82;
    background: #edf2f9;
    border-radius: 0;
    opacity: 0.7;
    // border-bottom: 1px solid #5e6e82;
    &:hover,
    &:focus {
      color: #5e6e82;

      opacity: 1;
    }
    &:active {
      color: #eb4a00;
      border-bottom: 1px solid #eb4a00;
      opacity: 1;
    }
  }
  .my-issues-btn {
    font-size: 15px;
    line-height: 1;
    color: #5e6e82;
    background: #edf2f9;
    border-radius: 0;

    opacity: 0.7;
    &:hover,
    &:focus {
      color: #5e6e82;

      opacity: 1;
    }
    &:active {
      color: #eb4a00;
      border-bottom: 1px solid #eb4a00;
      opacity: 1;
    }
  }
  .issues-by-read-list {
    display: flex;
    gap: 28px;
    padding-left: 14px;
    border-left: 1px solid #d8e2ef;
  }
  .by-read-btn {
    font-size: 15px;
    line-height: 1.46;
    background: #edf2f9;
    color: #5e6e82;
    opacity: 0.7;
    &:hover,
    &:focus {
      color: #5e6e82;

      opacity: 1;
    }
    &:active {
      color: #eb4a00;

      opacity: 1;
    }
  }
  .unread-btn {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .unread {
    display: block;
    // margin-left: 6px;
    padding: 2px 4px;
    width: 14px;
    height: 13px;
    font-weight: 500;
    font-size: 9px;
    line-height: 1.15;
    background: var(--accent-color);
    border-radius: 3px;
    color: #fff;
  }
  .view-issues-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .view-issues {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.46;
    background: #edf2f9;
    color: #5e6e82;
    opacity: 0.7;
  }
}

// filter-form

.filter-form {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 14px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-bottom: 25px;
  background: #fff;

  label {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #5e6e82;
  }
  select {
    height: 34px;
    padding: 10px 9px;
    border: 1px solid #d8e2ef;
    border-radius: 4px;
  }
  select,
  option {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;

    color: #5e6e82;
    opacity: 0.7;
  }

  .filter-form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .filter-subject {
    width: 220px;
  }
  .filter-rx {
    width: 154px;
  }
  .filter-medication {
    width: 340px;
  }
  .filter-resident {
    width: 342px;
  }
  .filter-assigned {
    width: 358px;
  }
  .form-reset-btn {
    width: 141px;
    height: 34px;

    background: #5e6e82;

    &:hover,
    &:focus {
      background: #7a8a9d;
    }
    &:active {
      background: #4e5c6f;
    }
  }
  .filter-form-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 20px;
    height: 20px;
    padding: 0;

    background: #fff;
  }
}

// issues-table
.issues-table {
  width: 1653px;
  input {
    margin-right: 13px;
  }
}
.issues-thead {
  font-size: 14px;
  .issues-numbers {
    padding-left: 19px;
    width: 90px;
  }
  // .issues-subject {
  //   width: 240px;
  // }
  .head-filter {
    display: flex;
    // align-items: center;
    // gap: 3px;
  }
  .table-filter-btn {
    display: block;
    width: 10px;
    height: 10px;
    // padding-top: 7px;
    // padding-bottom: 7px;
    text-align: center;
    cursor: pointer;

    color: #2c7be5;
    background: #edf2f9;
    &:active {
      color: #fd5000;
    }
    border: none;
    .table-filter-icon {
      fill: currentColor;
    }
  }
}
.issues-tbody {
  font-size: 15px;
  line-height: 1.46;
  background: #fff;
  border: 1px solid #d8e2ef;
  .issue-details:nth-child(even) {
    background: rgba(216, 226, 239, 0.15);
  }
}
.issue-number {
  display: flex;
  align-items: center;
}
.unread-check {
  width: 4px;
  height: 4px;
  margin-right: 7px;
  border-radius: 50%;
  background: #fd5000;
}
.resident-name {
  font-weight: 500;
  color: #2c7be5;
  background: #e4ebf5;
}
.issue-details-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.46;
  color: #5e6e82;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: #2c7be5;
  }
}
.issue-edit-btn {
  width: 46px;
  height: 23px;
  font-size: 10px;
  line-height: 1.15;
  background: #5e6e82;
  border-radius: 3px;
  &:hover,
  &:focus {
    background: #7a8a9d;
  }
  &:active {
    background: #4e5c6f;
  }
}
// pages-btn
.pages-btn {
  display: flex;
  justify-content: space-between;
}
.page-list,
.all-page-list {
  display: flex;
  gap: 1px;
}
.page-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  // letter-spacing: 0.145em;

  color: #5e6e82;
  opacity: 0.7;

  background: #edf2f9;
  border: none;
  &:hover,
  &:focus {
    color: #5e6e82;
    opacity: 1;
  }
  &:active {
    color: #fd5000;
    opacity: 1;
  }
}
