// .select {
//   // position: relative;
// }
.filter-form-field {
  position: relative;
}
.select-list {
  position: absolute;
  top: 23px;
  width: 100%;
  padding: 8px 9px;
  background: #ffffff;

  border: 1px solid #d8e2ef;
  border-radius: 4px;

  // opacity: 0;
}
.select-list-item {
  height: 31px;
  padding: 8px 9px;
  font-size: 14px;
  line-height: 1;

  color: #5e6e82;
  opacity: 0.7;
}
.current-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.current-item-icon {
  fill: currentColor;
}
.check-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fd5000;
  background: #fff6f2;
}
